<?xml version="1.0" encoding="utf-16"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ProjectSupport Caption="Ammy" TypeFullName="Ammy.Language.Start" Path="C:\Projects\Ammy\src\Ammy\bin\Debug\Ammy.dll" />
  <Languages>
    <Language Name="AmmyLanguage" Path="C:\Projects\Ammy\src\Ammy.Syntax\bin\Debug\Ammy.Syntax.dll">
      <DynamicExtensions />
    </Language>
  </Languages>
  <References>
    <Reference>FullName:mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</Reference>
    <Reference>FullName:System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</Reference>
    <Reference>FullName:System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</Reference>
    <Reference>FullName:PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35</Reference>
    <Reference>FullName:WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35</Reference>
    <Reference>FullName:PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35</Reference>
    <Reference>File:..\Ammy.Test.Common\bin\Debug\AmmyTest.Common.dll</Reference>
    <Reference>File:..\..\src\Ammy.Sidekick.Common\bin\Debug\AmmySidekick.dll</Reference>
  </References>
</Config>