<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Nemerle.Compiler" publicKeyToken="5291d186334f6101" Culture="neutral" />
        <bindingRedirect oldVersion="1.2.0.0-1.2.0.543" newVersion="1.2.0.543"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>